#java specific
*.class
query_logs/
## generic files to ignore
*~
*.lock
*.swp
*.out
*.log
.checkstyle
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/

#testng
test-output/

#Other
bin/
out/
