Package: lens-client
Version: [[project.version]] 
Section:  misc
Priority: high
Architecture: all 
Depends: sun-java6-jre | java2-runtime
Maintainer: Lens dev 
Description: Lens Client
Distribution: aplha
