<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="grill-yoda" verbose="1" >
    <test name="TestDDL" >
        <classes>
            <class name="com.inmobi.yoda.cube.ddl.TestDDL" />
        </classes>
    </test>

    <test name="TestCubeSelectorService">
        <classes>
            <class name="com.inmobi.yoda.cube.ddl.TestCubeSelectorService"/>
        </classes>
    </test>
</suite>
