Package: grill-client
Version: [[project.version]] 
Section:  misc
Priority: high
Architecture: all 
Depends: sun-java6-jre | java2-runtime
Maintainer: Inmobi (grill-dev@inmobi.com)
Description: Grill Client
Distribution: aplha
