<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="grill-yoda" verbose="1" >
    <test name="TestMetastoreService" >
        <classes>
            <class name="com.inmobi.grill.metastore.service.TestMetastoreService" />
        </classes>
    </test>

    <test name="TestMetastoreServiceJSON" >
        <classes>
            <class name="com.inmobi.grill.metastore.service.TestMetastoreServiceJSON" />
        </classes>
    </test>

    <test name="TestQueryService" >
        <classes>
            <class name="com.inmobi.grill.query.service.TestQueryService" />
        </classes>
    </test>
</suite>
