<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Grill Services</display-name>
    <description>Grill Services</description>

    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>com.inmobi.grill.service.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>queryauthorization</filter-name>
        <filter-class>com.inmobi.grill.query.service.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>queryauthorization</filter-name>
        <servlet-name>GrillQueryAPI</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>metastoreauthorization</filter-name>
        <filter-class>com.inmobi.grill.metastore.service.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>metastoreauthorization</filter-name>
        <servlet-name>GrillMetastoreAPI</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>GrillQueryAPI</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.inmobi.grill.query.service.QueryApp</param-value>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrillQueryAPI</servlet-name>
        <url-pattern>/queryapi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GrillMetastoreAPI</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.inmobi.grill.metastore.service.MetastoreApp</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrillMetastoreAPI</servlet-name>
        <url-pattern>/metastore/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GrillQuotaAPI</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.inmobi.grill.quota.service.QuotaApp</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrillQuotaAPI</servlet-name>
        <url-pattern>/quota/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GrillQuerySchedulerAPI</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.inmobi.grill.queryscheduler.service.SchedulerApp</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrillQuerySchedulerAPI</servlet-name>
        <url-pattern>/queryscheduler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GrillAPI</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.inmobi.grill.service.MyApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrillAPI</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
